body {
    margin: 0;
    overflow: hidden;
    background-color: #efefef;
    font-family: 'sans-serif', Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    background-color: #000000;
    margin: 0 auto;
}

#container {
    margin-top: 0px;
}

.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
}

#controls {
    left: calc(50vw - 250px);
    top: 50vh;
    position: fixed;
    border-radius: 12px;
    background: rgba(104, 103, 103, 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    cursor: pointer;
}

#description {
    font-size: 14px;
    max-width: 70%;
    color: #fff9f9;
    margin-top: 10px;
}

#controlRow {
    display: flex;
    margin-bottom: 10px;
}

#matrix {
    margin-right: 20px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

button {
    display: inline;
    margin-left: 4px;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 0 15px;
    border-radius: 4px;
    color: #fff9f9;
    background: transparent;
    line-height: 1.15;
    font-size: 14px;
    height: 36px;
    word-spacing: 0px;
    letter-spacing: 0.0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: 1px solid #b7b6b9;
    text-align: center;
}
